---
import CallbackHandler from '@/components/CallbackHandler'
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <title>登录中...</title>
  </head>
  <body>
    <CallbackHandler client:only="react" />
  </body>
</html>
